
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Flex", sans-serif;
	
  }
  
  html, body {
	overflow-x: hidden;
  }
  
  .main-foot {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


  /* navbar */
  .navbar-nav {
	margin-right: 0 !important;
	padding-right: 100px;
  }
  
  .navbar {
	background-color: #0a193d;
	color: white !important;
  }
  
  .nav-item a {
	color: white !important;
  }
  
  .nav-item {
	padding-left: 2px;
  }
  
  .navbar-brand {
	color: white !important;
	padding-left: 100px;
  }
  
  #navbar button {
	color: white !important;
  }
  
  .nav-img {
	height: 60px;
  }
  
  /* Banner */
  #hero {
	width: 100%;
	min-height: 90vh;
	background: #0b2147;
  }
  
  #hero .container {
	padding-top: 72px;
	
  }
  
  #hero h2 {
	color: rgb(255, 255, 255);
	margin-top: 50px;
	font-size: 24px;
  }
  
  #hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
	#hero {
	  height: 100vh;
	  text-align: center;
	}
  
	#hero .animated {
	  -webkit-animation: none;
	  animation: none;
	}
  
	#hero .hero-img {
	  text-align: center;
	}
  
	#hero .hero-img img {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  
	#hero .hero-img img {
	  width: 70%;
	}
  }
  
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
  
	#hero .btn-get-started {
	  font-size: 16px;
	  padding: 10px 24px 11px 24px;
	}
  }
  
  @-webkit-keyframes up-down {
	0% {
	  -webkit-transform: translateY(10px);
	          transform: translateY(10px);
	}
  
	100% {
	  -webkit-transform: translateY(-10px);
	          transform: translateY(-10px);
	}
  }
  
  @keyframes up-down {
	0% {
	  -webkit-transform: translateY(10px);
	          transform: translateY(10px);
	}
  
	100% {
	  -webkit-transform: translateY(-10px);
	          transform: translateY(-10px);
	}
  }
  
  /* Banner */
  @media only screen and (max-width: 987px) {
	#banner-container {
	  padding-bottom: 0px;
	}
  }
  
  #banner1 {
	background-color: rgb(255, 255, 255);
  }
  
  #banner-container2 {
	padding-top: 60px;
	padding-bottom: 80px;
	color: #0a193d;
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	-webkit-animation-fill-mode: none;
	        animation-fill-mode: none;
	/* background-image: url(img/hello.jpg); */
  }
  
  #banner-row img {
	max-width: auto;
	height: auto;
	display: block;
	padding-left: 30px;
  }
  
  #banner-row h3, p {
	padding-top: 10px;
	text-align: center;
  }
  
  @media (max-width: 780px) {
	#banner-row img {
	  margin-top: 0px;
	}
  
	#banner-row h3, p {
	  margin-left: 5px;
	  margin-right: 14px;
	}
  }
  
  #banner-row a {
	background-color: white !important;
	color: black !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  #banner-col {
	padding-left: 20px;
	margin-top: 35px;
  }
  
  /* service */
  #service {
	/* background-image: url(img/hello.jpg)!important; */
	padding-top: 80px;
	padding-bottom: 50px;
  }
  
  #service h1 {
	padding-bottom: 70px;
  }
  
  .i1 {
	border-radius: 50%;
  }
  
  .mb-3 {
	padding-top: 10px;
  }
  
  /* media */
  @media only screen and (max-width: 987px) {
	.navbar-brand {
	  padding-left: 0px;
	}
  }
  
  @media only screen and (max-width: 768px) {
	#banner-row img {
	  padding-top: 20px;
	}
  }
  
.acmlogo {
	margin-top: 110px;
	
}
.acmlogo {
	margin-top: 110px;
}
 

  